html {
    font-size: 20px;
}

body {
    font-family: Arial, Meiryo, sans-serif;
    text-align: center;
}

/* 色 */
.blue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

/* タイトル */
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.8em;

    color: rgb(115, 115, 114);
    margin-bottom: 10px;
}

/* 下線（画面端まで） */
.line {
    width: 100%;
    height: 2px;
    background-color: rgb(115, 115, 114);
    margin-bottom: 40px;
}

/* 太字 */
#basic p {
    font-weight: bold;
}

/* それ以外は通常 */
section:not(#basic) p {
    font-weight: normal;
}