/* デフォルト */
body,
h1,
h2,
p {
    margin: 0;
}

body {
    font-size: 20px;
}

/* header */
header {
    background-color: rgb(244, 79, 79);
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

/* main & flex */
main {
    padding: 10px;
}

#parent {
    display: flex;
    justify-content: space-around;
}

/* contents */
.contents {
    border: 3px solid rgb(238, 204, 204);
    width: 25%;
    padding: 20px 15px;
    text-align: center;
}

/* h2（●と点線） */
.contents h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
    margin-bottom: 15px;
}

.contents h2::before {
    content: "●";
    color: rgb(239, 111, 139);
    margin-right: 5px;
}

/* 傘の文字装飾 */
.contents p:nth-of-type(2)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}

/* 画像 */
.contents img {
    margin-top: 10px;
    width: 70%;
}

/* footer */
footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
    padding: 20px;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    color: rgb(245, 178, 168);
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    #parent {
        flex-direction: column;
        align-items: center;
    }

    .contents {
        width: 90%;
        margin-bottom: 20px;
    }

    .contents h2 {
        font-size: 30px;
    }

    .contents p {
        font-size: 25px;
    }
}