/* ===== 共通 ===== */
body {
    margin: 0;
    padding: 0;
}

/* =========================
   Step3：一番上
========================= */
#top {
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}

.top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
    margin: 0 10px;
}

/* =========================
   Step4：真ん中
========================= */
#middle {
    width: 800px;
    height: 800px;
    background-color: #ffd9df;
    margin: 20px auto;
    position: relative;
    /* ← 超重要 */
}

/* 真ん中の子要素 共通 */
#middle-child01,
#middle-child02,
#middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
}

/* 位置指定 */
#middle-child01 {
    top: 100px;
    left: 100px;
}

#middle-child02 {
    top: 300px;
    left: 300px;
}

#middle-child03 {
    top: 500px;
    left: 500px;
}

/* =========================
   Step5：一番下
========================= */
#bottom {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;
    margin: 20px auto;
    position: relative;
}

/* 下の子要素 共通 */
#bottom-child01,
#bottom-child02,
#bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}

/* 位置調整 */
#bottom-child02 {
    position: relative;
    left: 200px;
}

#bottom-child03 {
    position: relative;
    left: 400px;
}